@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

// COLORS

$main-color: #219C90;
$secondary-color: #E9B824;
$terciary-color: #D83F31;
$font-color: #3E001F;

// FONTS

$main-font: 'Sorts Mill Goudy', serif;
