.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(230px, 100%/5 - 0.5rem)), 1fr)); //0.5 refers to column gap
    gap: .5rem;
    justify-items: center;
    border: solid black;
}