@import 'styles/abstract/vars';

.container {
    font-family: $main-font;
    padding: 5px;
    border: solid $main-color;
    border-radius: 10px;
    font-size: 16px;
    width: 250px;
    outline: none;


    &:hover, &:focus-within {
        box-shadow: 1px 1px 8px 1px $main-color;
    }

}